body{
    margin: 0px;
    background-color: #000;
    color: #fff;

}
.theme-color
{
    color:blueviolet;
}
.theme-bg
{
    background-color: blueviolet;
}
.theme-bg1
{
    background-color: rgb(252, 252, 255);
}
.hv-10
{
    height:10vh;
}
.hv-20
{
    height:20vh;
}
.hv-100
{
    height:100vh;
}
.hv-90
{
    height:90vh;
}
.hv-5
{
    height:5vh;
}
.hv-95
{
    height: 95vh;
}
.hv-80
{
    height:80vh;
}
.hv-85
{
    height:85vh;
}
.wv-10
{
    width:10vw;
}
.wv-20
{
    width:20vw;
}
.wv-100
{
    width:100vw;
}
.wv-90
{
    width:90vw;
}
.wv-75
{
    width:75vw;
}

.wv-80
{
    width:80vw;
}
.m-1
{
    margin: 1rem;
}
.mx-1
{
    margin-left:1rem;
    margin-right: 1rem;
}
.my-1
{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.flex
{
    display:flex;
}
.flex-col
{
    flex-direction: column;
}
.flex-row
{
    flex-direction: row;
}
.items-center
{
    align-items: center;
}
.justify-center
{
    justify-content: center;
}
.justify-start
{
    justify-content: start;
}
.justify-end
{
    justify-content: end;
}