body{
    background-image: url("https://cdn.wallpapersafari.com/25/82/HqVbky.jpg");  /* fallback for old browsers */
    background-size: cover;

    height:100vh;
    width:100vw;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    background-color: red;
    border-radius: 6px;
    
    color:white;
    opacity:0.8;
}

.container
{
    height:60vh;
    width:50vw;
    background-color:black;
    opacity: 0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    border-radius: 5px;
}
p{
    color: white;
    display: flex;
    opacity: 0.8;
    text-align: center;
}
.name-input
{
    width: 80%;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid trans;
    outline: none;
    border-radius: 5px;
    background-color: #FDF5DF;
    text-decoration: #F92C85;
    font-weight:100;
    
}
.name-input:focus{
    border-bottom: 2px solid #F92C85;
}
.button-input
{
    width:100%;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    text-align: center;
    background-color: black;
    font-weight:100;
    color: red;
    
}
.button-input:focus{
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-top: 5px solid white;
    border-right: 5px solid white;
}
.button-input:hover{
    background-color:white;
    color:red;
    border-radius: 5px;
}
.shadow
{
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}
.shdow{
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.01),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.019),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.036),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.046),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
}

.navbar {
    background-color:black;
    overflow: hidden;
    opacity: 0.8;
    position: absolute;
    left:0;
    
    width: 100vw;
    top: 0;

}
.footbar {
    background-color:black;
    overflow: hidden;
    opacity: 0.8;
    position: absolute;
    left:0;
    height:10vh;
   position:absolute;
    width: 100vw;
    bottom:0;

}

.logo {
    float: left;
}

.logo img {
    height: 50px; 
    padding: 10px;
    border-radius: 90px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    
}

a {
    display: flex;
    color:red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color:red;
    color:white;
    border-radius: 5px;
    padding: 10px;
}
.container:hover{
    background-color:red;
    color:white;
}

& img {
  object-fit: cover;
  width: calc(var(--size) * 2);
  height: calc(var(--size) * 2);
  clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
  transition: clip-path 0.25s, filter 0.75s;
  grid-column: auto / span 2;
  border-radius: 5px;

  &:nth-child(5n - 1) { 
    grid-column: 2 / span 2 
  }

  &:hover,
  &:focus {
    clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
    z-index: 1;
    transition: clip-path 0.25s, filter 0.25s;
  }
  
  &:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
  }
}

